<section class="clients-sec">
	<h3>Clients</h3>
	<div class="client-controls">
		<div class="larrow">{% include icons/icon-prev.html %}</div>
		<div class="rarrow">{% include icons/icon-next.html %}</div>
	</div>
	<div class="client-belt">
		{% for client in site.data.portfolio.clients %}
			<div class="client-unit">
				<div class="client-face">
					<img src="assets/img/clients/{{client.img}}" alt="">
					<strong class="client-name">{{client.title}}</strong>
					<em class="tag-line">{{client.tagline}}</em>
				</div>
				<div class="clent-content">
					<div class="squote">{% include icons/icon-quote-mark.html %}</div>
					{{client.quote}}
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="client-logos">
		{% for client in site.data.portfolio.clients %}
		<img src="assets/img/clients/{{client.logo}}" alt="">
		{% endfor %}
	</div>
</section>