<section class="alt-section section-work" id="work">
	
	<h3 id="work">work</h3>

	<div class="work-belt">

		<div class="thumb-wrap">
	
			<div class="thumb-container">
				{% for project in site.data.portfolio.projects %}

				<a href="" class="thumb-unit" data-folder="{{project.folder}}" style="background-image: url(/assets/img/work/{{project.folder}}/thumb.jpg);">
					<div class="thumb-overlay">
						<strong>{{ project.name }}</strong>
					</div>
				</a>

				{% endfor %}				
			</div>

		</div>

		<div class="work-wrap">

			<div class="work-container">
				<div class="work-return">{% include icons/left-arrow.html %}</div>
				<h4 class="project-title">do work</h4>	
				<div class="project-load"></div>
			</div>

		</div>

	</div>


</section>