.clients-sec
	width: 100%
	position: relative
	
	.client-controls
		+position(absolute, 0px 0px 0px 0px)

		> div
			margin-top: -20px
			+size(40px)
			cursor: pointer
		.larrow
			+position(absolute, 50% null null 30px)
			z-index: 1
		.rarrow
			+position(absolute, 50% 30px null null)
			cursor: pointer
			z-index: 1
			

	.client-belt
		position: relative
		width: 100%
		
		.mobile-nav
			display: block
			text-align: center
			margin-bottom: 30px
			display: none

			span 
				margin: 10px
				display: inline-block
				+size(16px)
				color: #000
				border-radius: 50%
				border: 3px solid #000
				cursor: pointer

				&.active-client
					border-color: red
				
				

		.client-unit
			+position(relative, 0px null null 50%)
			max-width: 750px
			margin-left: -375px
			display: none
			
			&.active-client
				+display(flex)
				@extend %animation
					

			.client-face
				text-align: center
				min-width: 300px
				img 
					+size(100px)
					border-radius: 50%
				.client-name
					display: block
					text-transform: uppercase
					letter-spacing: 0.2em
			.clent-content
				position: relative
				font-size: 18px
				line-height: 30px

				.squote
					+position(absolute, -10px null null -10px)
					+size(60px)
					svg 
						+size(100%)
						path 
							fill: $accent
							opacity: 0.5
							z-index: -1
	.client-logos
		z-index: 4
		cursor: pointer
		width: 960px
		margin: 100px auto 100px
		+display(flex)
		+align-items(flex-end)
		+justify-content(space-around)
		

		img
			z-index: 3
			opacity: 0.5


			&.active-client
				opacity: 1 !important
				box-shadow: 0px 10px 0px #fff, 0px 15px 0px #000

@media screen and (max-width: 750px)
	.client-controls
		display: none
	.clients-sec 
		width: 100%
		.client-logos
			display: none			
		.client-belt

			.mobile-nav
				display: block
			
			.client-unit.active-client
				display: block !important

				.client-face
					margin-bottom: 20px

				.clent-content
					max-width: 400px
					margin: 0 auto
					padding: 0px 10px
					text-align: center
						




	
				
				