footer
	background: url(../img/bg-img.jpg)
	background-repeat: no-repeat
	background-position: 20% 20%
	background-size: cover
	
	.lockup
		padding: 30px 50px
		+clearfix

		.logo
			float: left
			+size(50px)
			margin-right: 30px

			path
				fill: rgba(0,0,0,0.4)

		.content-wrap
			float: left

			a
				display: inline-block
				margin-right: 20px
				font
					size: 16px
					weight: 1000
				text-transform: uppercase
				color: white
				&:hover
					color: red

			.copyright
				@extend %small-bold

				
